
/* Algemene functies voor in de website, Deze kunnen zovaak herhaald worden indien nodig. */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

:root {
    --bg-color: #7d1fc2;
    --second-bg-color: #4B0082;
    --text-color: white;
    --second-text-color:#fc0896;
}


/* Alle selectors die worden gebruikt in de website, Deze worden vaak niet herhaald maar met uitzondering kan het. */

html {
    font-size: 60%;
    overflow-x: hidden;
}

body { 
    background: var(--bg-color);
    color:var(--text-color);
}


/* Algemene Classes voor in de website, Deze kunnen zovaak herhaald worden indien nodig. */



/* Algemene ID voor in de website, Deze kunnen maar één keer gebruikt worden in de website. */

